<!DOCTYPE html>
<html>
<head>
	<title>EXCELSIOR'18</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- main -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<!-- <div class="navbar-fixed"> -->
		  
	<!-- </div> -->

	    	<!-- <div id="particles-js"> -->
	    		<nav class="navbar navbar-expand-lg navbar-dark">
	    		<div class="container">
				  <a class="navbar-brand" href="/index"><img class="logo-header" src="/images/logo-2018w.png"></a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				    <p class="nav-item-custom">
						<span><a class="nav-link-custom" href="/about">About</a></span>
						<span><a class="nav-link-custom" href="/team">Our Team</a></span>
						<span><a class="nav-link-custom" href="/sponsors">Our Sponsors</a></span>
						<span><a class="nav-link-custom" href="/events">Our Events</a></span>
						<span><a class="nav-link-custom" href="/gallery">Glimpse of the Past</a></span>
						
				    
				  </div>
				</div>
				</nav>

				<!-- About us -->
				<div class="container">
					<div class="jumbotron jumbotron-about">
						<h1>About Us</h1>
						<div class="row">
							<div class="col-12 col-lg-8">
								<div class="thumbnail">
									<img class="about-img" src="/images/c1.jpg">
								</div>
							</div>
							<div class="col-12 col-lg-4">
								<p><span class="about-para"> SR-DTU</span> is a professional association dedicated to advancing technological innovation and excellence for the benefit of humanity. Its members inspire a global community through its highly cited conferences, technology standards, and professional and educational activities. With a very dedicated team we dare to touch a zenith beyond which robotics could not be defined any better. We, at SRDTU, focus equally on the practical knowledge as well as theoretical knowledge. We aim to bring out the best in our members by preparing them for various competitions held around the world as well as for the ones organized in our college. Our planning and execution team has already started its work to mould students to raise the benchmark of their success in the workshop and competitions.</p>
							</div>
						</div>
					</div>
				</div>


				<!-- About us -->


				<footer class="page-footer-nh">
				<div class="container"> 
					<p>
						<span><a target="about" href="https://www.facebook.com/EXCELSIOR2015/"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
						<span><a target="about" href="https://www.instagram.com/societyofrobotics_dtu/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
						<span><a target="about" href="https://www.youtube.com/channel/UCdsIkYFUNWAO4N0K3zElcEQ"><i class="fa fa-youtube" aria-hidden="true"></i></a></span>
						<span><a href="/contact">Contact Us</a></span>
					</p> 
					
				</div>
				</footer>
	    	<!-- </div> -->

	  


    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/particles.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>