<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Vertical Timeline</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">

    <!--Jquery CDN-->
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>



    <!--Bootstrap CDN-->
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
     <!--Custom CSS-->
      <link rel="stylesheet" href="/css/events/css/style.css">


</head>

<body>

<!--including header-->


  <header>
    <div class="container text-center">
      <h1>Excelsior</h1>
      <p>Events timeline</p>
    </div>
  </header>

  <section class="timeline">
    <div class="container">
      <div class="timeline-item">
        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInLeft">
            <div class="timeline-img-header">
                <h2>Robo Race</h2>
            </div>
       		<div class="date">1 MAY 2016</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
            <button data-target="robosoccer" class="btn btn-primary modal-trigger">Register</button>
        </div>
      </div>

      
      <div class="timeline-item">

        <div class="timeline-img"></div>

        <div class="timeline-content js--fadeInRight">
        	<div class="timeline-img-header">
          	<h2>Robo Soccer</h2>
        	</div>
        	<div class="date">25 MAY 2016</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
            <button data-target="robosoccer" class="btn btn-primary modal-trigger">Register</button>
        </div>

      </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2>Robo Wars</h2>
                </div>
                <div class="date">1 MAY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <button data-target="robosoccer" class="btn btn-primary modal-trigger">Register</button>
            </div>
        </div>

        <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInRight">
                <div class="timeline-img-header">
                    <h2>Pull It</h2>
                </div>
                <div class="date">25 MAY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <button data-target="robosoccer" class="btn btn-primary modal-trigger button-right">Register</button>
            </div>

        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2>LFR</h2>
                </div>
                <div class="date">1 MAY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <button data-target="robosoccer" class="btn btn-primary modal-trigger">Register</button>
            </div>
        </div>

        <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInRight">
                <div class="timeline-img-header">
                    <h2>Quiddtich</h2>
                </div>
                <div class="date">25 MAY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <button data-target="robosoccer" class="btn btn-primary modal-trigger button-right">Register</button>
            </div>

        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2>Crack The Company</h2>
                </div>
                <div class="date">1 MAY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <button data-target="robosoccer" class="btn btn-primary modal-trigger">Register</button>
            </div>
        </div>

        <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInRight">
                <div class="timeline-img-header">
                    <h2>Quizzards</h2>
                </div>
                <div class="date">25 MAY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <button data-target="robosoccer" class="btn btn-primary modal-trigger button-right">Register</button>
            </div>

        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2>Ic Arts</h2>
                </div>
                <div class="date">1 MAY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <button data-target="robosoccer" class="btn btn-primary modal-trigger">Register</button>
            </div>
        </div>

        <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInRight">
                <div class="timeline-img-header">
                    <h2>Code Safari</h2>
                </div>
                <div class="date">25 MAY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <button data-target="robosoccer" class="btn btn-primary modal-trigger button-right">Register</button>
            </div>

        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2>Java</h2>
                </div>
                <div class="date">1 MAY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <button data-target="robosoccer" class="btn btn-primary modal-trigger">Register</button>
            </div>
        </div>

        <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInRight">
                <div class="timeline-img-header">
                    <h2>Silicon Valley</h2>
                </div>
                <div class="date">25 MAY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <button data-target="robosoccer" class="btn btn-primary modal-trigger button-right">Register</button>
            </div>

        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2>Socco</h2>
                </div>
                <div class="date">1 MAY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <button data-target="robosoccer" class="btn btn-primary modal-trigger">Register</button>
            </div>
        </div>

        <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInRight">
                <div class="timeline-img-header">
                    <h2>Creative Talks</h2>
                </div>
                <div class="date">25 MAY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <button data-target="robosoccer" class="btn btn-primary modal-trigger button-right">Register</button>
            </div>

        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2>Eureka</h2>
                </div>
                <div class="date">1 MAY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <button data-target="robosoccer" class="btn btn-primary modal-trigger">Register</button>
            </div>
        </div>

        <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInRight">
                <div class="timeline-img-header">
                    <h2>Lazer Maze</h2>
                </div>
                <div class="date">25 MAY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <button data-target="robosoccer" class="btn btn-primary modal-trigger button-right">Register</button>
            </div>

        </div>

        <div class="timeline-item">
            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInLeft">
                <div class="timeline-img-header">
                    <h2>Bomb Barage</h2>
                </div>
                <div class="date">1 MAY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <button data-target="robosoccer" class="btn btn-primary modal-trigger">Register</button>
            </div>
        </div>

        <div class="timeline-item">

            <div class="timeline-img"></div>

            <div class="timeline-content js--fadeInRight">
                <div class="timeline-img-header">
                    <h2>Mockstock</h2>
                </div>
                <div class="date">25 MAY 2016</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                <button data-target="robosoccer" class="btn btn-primary modal-trigger button-right">Register</button>
            </div>

        </div>

    </div>

  </section>

<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

<!--REGISTRATION MODEL-->
<!-- Modal Structure -->
<div id="robosoccer" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
</div>

<!--REGISTERATION MODALS END-->


<script src='https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js'></script>

    <script src="/css/events/js/index.js"></script>

<script>

    $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
    });
</script>

</body>
</html>
