<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Excelsior 2018 | Gallery</title>
<link rel="stylesheet" href="/css/gallery/bootstrap.min.css">
<link rel="stylesheet" href="/css/gallery/flexslider.css">
<link rel="stylesheet" href="/css/gallery/jquery.fancybox.css">
<link rel="stylesheet" href="/css/gallery/main.css">
<link rel="stylesheet" href="/css/gallery/responsive.css">
<link rel="stylesheet" href="/css/gallery/font-icon.css">
<link rel="stylesheet" href="/css/gallery/animate.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/gallery/stylesheet.css">
</head>

<body>
<!-- header section -->
<section class="banner" role="banner">
  <header id="header">

    <div class="header-content clearfix"> <a class="logo">EXCELSIOR 18</a>
     
      <a  class="nav-toggle" onclick="openNav()">Menu<span></span></a> </div>
  </header>
  <!-- banner text -->
  <div class="container-fluid">
   <div class="row" style="padding:20%">
    <div class="col-md-12">
     
     <img src="/images/logo-2018w.png" style="max-height:50%; width:100%">
     
     <!-- banner text --> 
    </div>
    </div>
  </div>
</section>

<div style="z-index:1000; padding-top:10%" id="sidenav" class="sidenav  text-center">
  
   
   
   <span>
<img src="images/logo-2018.png" class="img"/>
</span>
  <ul id="ul" class="red-text" style="margin-left:auto;  margin-right:auto; ">
       <a href="/"><li id="1" style="cursor:pointer; ">Home</li></a>
      <a href="gallery"><li id="2" style="cursor:pointer; "> Gallery</li></a>
      <a href="events"><li id="3" style="cursor:pointer; ">Events</li></a>
      <a href="sponsors page"><li id="4" style="cursor:pointer; ">Sponsors</li></a>
      <a href="contact"><li id="5" style="cursor:pointer; ">Contact</li></a>
   
   </ul>
    
</div>

<!-- header section --> 
<!-- intro section -->



	

<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Gallery</h3>
      <p>Images from the EXCELSIOR 2017</p>
    </div>
  </div>
</section>
<!-- intro section --> 
<!-- services section -->

<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/images/bg1.jpg" class="work-box"> <img src="/images/bg1.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Dummy text</h5>
            <p>Dummy text</p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/images/bg2.jpg" class="work-box"> <img src="images/bg2.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Dummy text</h5>
            <p>Dummy text</p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/images/fest1.JPG" class="work-box"> <img src="/images/fest1.JPG" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Dummy text</h5>
            <p>Dummy text</p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/images/fest3.JPG" class="work-box"> <img src="/images/fest3.JPG" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Dummy text</h5>
            <p>Dummy text</p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/images/fest2_short.jpg" class="work-box"> <img src="/images/fest2_short.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Dummy text</h5>
            <p>Dummy text</p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/images/fest5.JPG" class="work-box"> <img src="/images/fest5.JPG" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Dummy text</h5>
            <p>Dummy text</p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/images/fest4.JPG" class="work-box"> <img src="/images/fest4.JPG" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Dummy text</h5>
            <p>Dummy text</p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="/images/fest6.JPG" class="work-box"> <img src="/images/fest6.JPG" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Dummy text</h5>
            <p>Dummy text</p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
    </div>
  </div>
</section>
<!-- work section --> 
<!-- our team section -->
<!-- contact section --> 

<!-- Footer section -->
<!-- Footer section --> 
<!-- JS FILES --> 

<footer>
    <div style="background-color:black;margin:0px ">
    <p> &copy; SR DTU 2018</p>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="/js/gallery/bootstrap.min.js"></script> 
<script src="/js/gallery/jquery.flexslider-min.js"></script> 
<script src="/js/gallery/jquery.fancybox.pack.js"></script> 
<script src="/js/gallery/main.js"></script> 
<script type="text/javascript" src="/js/gallery/jquery.contact.js"></script>
<script type="text/javascript" src="/js/gallery/script.js"></script>
</body>
</html>